.movie-box{
  min-height: 444px;

  background-image: linear-gradient(to right top, #410000, #b80101, #c20a0a, #e0150e, #ffc2c2);
  color: aliceblue;
 
border-radius: 20px;
border: 2px solid rgb(59, 202, 2);
}
 .item{
  min-height: 400px !important;

 }
 .btn-search{
  border-radius:20px ;
  background-image: linear-gradient(to right top, #410000, #b80101, #c20a0a, #e0150e, #ffc2c2);
  color: aliceblue;
 }
.rating-icon::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./images/star.svg");
  background-position: center;
  background-size: 20px;
  margin-right: 5px;
}

.time-icon::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./images/time-fast.svg");
  background-position: center;
  background-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.year-icon::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./images/calendar-clock.svg");
  background-position: center;
  background-size: 20px;
  margin-right: 5px;
  margin-left: 5px;

}
.form-select{

  width: 190px !important;
}